* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    background: #fff;
}

#home {
    width: 100%;
    min-height: 100vh;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 50px;
}

#nav img {
    width: 100px;
}

#nav #right {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}

#nav a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 1vw;
    letter-spacing: -1px;

}

#nav i {
    margin-top: 3px;
    font-size: 20px;
}

#home #home-main {
    width: 100%;
    letter-spacing: -1px;
    padding: 15vw 15vw;

}

#home-main h1 {
    font-size: 1.4vw;
    font-weight: 400;

}

.headings {
    display: flex;
    gap: 40px;
}

#home-main .headings h1 {
    color: transparent;
    -webkit-text-stroke: 1px #000;
    font-size: 6vw;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -8px;
}

#home-last {
    padding: 5vw 15vw;
}

#home-last p {
    width: 70%;
    font-size: 1.6vw;
    font-weight: 400;
    letter-spacing: -0.08;
}

#home-last p::selection {
    background: #000;
    color: #fff;
}

#featured {
    padding: 10vw 15vw;
}

#featured h1 {
    line-height: 1;
    font-size: 4vw;
    font-weight: 400;
}

#featured h1:nth-child(2) {
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

#fimages {
    display: flex;

    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    margin-top: 5vw;

}

#fleft {
    width: 45%;
    min-height: inherit;
    border: 1px solid blue;
}

#fright {
    width: 45%;
    min-height: inherit;
    border: 1px solid green;
}